# Binaries for programs and plugins
bin/

# Test coverage files
coverage.out
cover.html

# Frontend dependencies and build output
dashboard/node_modules/
internal/app/dashboardui/dist/

# Editor directories and files
.idea
.vscode

# Any crt/keys
*.crt
*.key

# Backup/temporary files
*~
\#*

# MacOS specific
Thumbs.db
.DS_Store

# Logs
*.log
